<div class="wrapper dark">
  <main class="container">
    <div class="hero_wrapper__OCEHr">
      <div class="hero_toastWrapper__AO_Px">
        <div class="hero_toast__iNtuW"></div>
        <div class="hero_toast__iNtuW"></div>
        <div class="hero_toast__iNtuW"></div>
      </div>

      <h1 class="hero_heading__a4lh_">Sonner</h1>
      <p style="margin-top:0;font-size:18px">An opinionated toast component for React.</p>
      <div class="hero_buttons__cVbFb">
        <button class="button" (click)="openToast()">Render a toast</button>
        <a class="hero_button__bpL8r" href="https://github.com/emilkowalski/sonner" target="_blank">GitHub</a>
      </div>

      <a class="hero_link__7stGB" href="/getting-started">Documentation</a>
    </div>

    <div class="content">
      <div>
        <h2>Installation</h2>
        <code class="installation_code__eFqjh">
          npm install sonner<!-- -->
          <button aria-label="Copy code" class="installation_copy__G9VjI">
            <div style="opacity:1;transform:none">
              <svg viewBox="0 0 24 24" width="14" height="14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision">
                <path d="M8 17.929H6c-1.105 0-2-.912-2-2.036V5.036C4 3.91 4.895 3 6 3h8c1.105 0 2 .911 2 2.036v1.866m-6 .17h8c1.105 0 2 .91 2 2.035v10.857C20 21.09 19.105 22 18 22h-8c-1.105 0-2-.911-2-2.036V9.107c0-1.124.895-2.036 2-2.036z"></path>
              </svg>
            </div>
          </button>
        </code>
      </div>
      <div>
        <h2>Usage</h2>
        <p>Render the toaster in the root of your app.</p>
      </div>
      <div>
        <h2>Types</h2>
        <p>You can customize the type of toast you want to render, and pass an options object as the second argument.</p>
        <div class="buttons"><button class="button" data-active="true">Default</button><button class="button" data-active="false">Description</button><button class="button" data-active="false">Success</button><button class="button" data-active="false">Info</button><button class="button" data-active="false">Warning</button><button class="button" data-active="false">Error</button><button class="button" data-active="false">Action</button><button class="button" data-active="false">Promise</button><button class="button" data-active="false">Custom</button></div>

      </div>
      <div>
        <h2>Position</h2>
        <p>Swipe direction changes depending on the position.</p>
        <div class="buttons"><button data-active="false" class="button">top-left</button><button data-active="false" class="button">top-center</button><button data-active="false" class="button">top-right</button><button data-active="false" class="button">bottom-left</button><button data-active="false" class="button">bottom-center</button><button data-active="true" class="button">bottom-right</button></div>

      </div>
      <div>
        <h2>Expand</h2>
        <p>You can change the amount of toasts visible through the <code>visibleToasts</code> prop.</p>
        <div class="buttons"><button data-active="false" class="button">Expand</button><button data-active="true" class="button">Default</button></div>

      </div>
      <div>
        <h2>Other</h2>
        <div class="buttons"><button class="button">Rich Colors Success</button><button class="button">Rich Colors Error</button><button class="button">Rich Colors Info</button><button class="button">Rich Colors Warning</button><button class="button">Close Button</button><button class="button">Headless</button></div>

      </div>
      <div>
        <h2>How is it made?</h2>
        <p>
          You can read about why and how it was built<!-- --> <a href="https://emilkowal.ski/ui/building-a-toast-component" target="_blank" style="text-decoration:underline">here</a>.
        </p>
      </div>
    </div>
  </main>
  <footer class="footer_wrapper__S5xTA">
    <div class="container">
      <p class="footer_p__ajAR0">
        <img alt="Emil&#x27;s profile picture" loading="lazy" width="24" height="24" decoding="async" data-nimg="1" style="color:transparent" srcSet="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Femil.cef7d314.jpeg&amp;w=32&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Femil.cef7d314.jpeg&amp;w=48&amp;q=75 2x" src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Femil.cef7d314.jpeg&amp;w=48&amp;q=75"/>
        <span>Made by<!-- --> <a href="https://twitter.com/emilkowalski_" target="_blank">Emil.</a></span>
      </p>
    </div>
  </footer>
</div>

<sonner-root />
